@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scroll-container {
  scroll-behavior: smooth;
}

/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 0.8vw; /* Width of the scrollbar */
  height: 0.8vw; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); /* Background of the scrollbar track */
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: black; /* Color of the scrollbar slider */
  border-radius: 0.4vw; /* Rounded corners for the slider */
  border: 0.1vw solid white; /* Adds space around the slider */
}
